<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改访问统计')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">


        <div class="col-xs-12">ip访问量：[[${portalBrowse.ipCount}]]</div>
        <div class="col-xs-12">
            <table class="table">
                <caption>访问量分布表</caption>
                <thead>
                <tr>
                    <th width="180">IP</th>
                    <th >PV</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${portalBrowse.browList}">
                    <td>[[${item.ip}]]</td>
                    <td>[[${item.number}]]</td>
                </tr>

                </tbody>
            </table>
        </div>




    </div>
    <th:block th:include="include :: footer" />

</body>
</html>