<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增文件下载')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-document-add" style="width: 80%">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="col-sm-6 control-label is-required">文件名称：</label>
                <div class="col-sm-6">
                    <input name="docTitle" class="form-control" type="text" required>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="col-sm-2 control-label">类型：</label>
                <div class="col-sm-8">
                    <select name="docType" class="form-control" th:with="type=${@dict.getType('sys_file_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">是否加密：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_article_yes')}">
                        <input type="radio" th:id="${'isLock-' + dict.dictCode}" name="isLock" th:data="${dict.dictValue}" th:value="${dict.dictValue}" >
                        <label th:for="${'isLock_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                    <div class="radio-box">
                        <input name="password" id="password" style="width: 400px;" class="form-control" placeholder="请设置密码" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">文件描述：</label>
                <div class="col-sm-8">
                    <textarea name="docDesc" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">文件内容：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="docContent">
                    <div class="summernote" id="docContent"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">附件：</label>
                <div class="col-sm-8">

                    <div class="input-group m-b">
                        <input  name="accessory" id="thumbnail" class="form-control" readonly>
                        <span class="input-group-addon" style="border: 0; padding: 0 6px"><input type="file" id="tpicf"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">

            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i
                    class="fa fa-check"></i>保 存
            </button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i
                    class="fa fa-reply-all"></i>关 闭
            </button>
        </div>
    </div>
</div>


<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: summernote-js" />
<script th:inline="javascript">
    var prefix = ctx + "portal/document"
    $("#form-document-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            //加密验证
            var selectedValue = $('input[name="isLock"]:checked').val();
            if (selectedValue == 1){
                var password = $('#password').val();
                if (password == ""){
                    $.modal.alertWarning("密码状态为：是，请输入密码");
                    return;
                }
            }
            // $.operate.save(prefix + "/add", $('#form-document-add').serialize());
            $.operate.saveTab(prefix + "/add", $('#form-document-add').serialize());
        }
    }

    // 是否加密
    $(document).ready(function() {
        //默认不显示密码框
        $('#password').hide();

        // 根据选中的radio的值显示或隐藏密码框
        $('input[name="isLock"]').change(function () {
            // 获取选中的选中的radio的值
            var selectedValue = $('input[name="isLock"]:checked').val();
            // console.log("选中的radio的值：", selectedValue);
            if (selectedValue == 1) {
                // $('#password').val(pass != '' ? pass : '');
                $('#password').show();
            } else {
                $('#password').hide();
                $('#password').val("")
            }
        });
    });

    // 文件上传
    $("#tpicf").change(function () {
        var data = new FormData();
        data.append("editormd-image-file", $("#tpicf")[0].files[0]);
        $.ajax({
            type: "post",
            url: ctx + "common/uploadFild",
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            dataType: 'json',
            success: function (result) {
                if (result.code == web_status.SUCCESS) {
                    $("#thumbnail").val(result.fileName)
                }
            },
            error: function (error) {
                alert("图片上传失败。");
            }
        });
    })

    /*$(".file-upload").fileinput({
        uploadUrl: ctx + 'common/upload',
        maxFileCount: 1,
        autoReplace: true
    }).on('fileuploaded', function (event, data, previewId, index) {
        $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
    }).on('fileremoved', function (event, id, index) {
        $("input[name='" + event.currentTarget.id + "']").val('')
    })*/

    $(function() {
        $('.summernote').summernote({
            lang: 'zh-CN',
            height: 300,
            dialogsInBody: true,
            callbacks: {
                onChange: function(contents, $edittable) {
                    $("input[name='" + this.id + "']").val(contents);
                },
                onImageUpload: function(files) {
                    var obj = this;
                    var data = new FormData();
                    data.append("file", files[0]);
                    $.ajax({
                        type: "post",
                        url: ctx + "common/upload",
                        data: data,
                        cache: false,
                        contentType: false,
                        processData: false,
                        dataType: 'json',
                        success: function(result) {
                            if (result.code == web_status.SUCCESS) {
                                $('#' + obj.id).summernote('insertImage', result.url);
                            } else {
                                $.modal.alertError(result.msg);
                            }
                        },
                        error: function(error) {
                            $.modal.alertWarning("图片上传失败。");
                        }
                    });
                }
            }
        });
    });
</script>
</body>
</html>