<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改文章内容')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">

        <div class="row">

        <form class="form-horizontal" id="form-article-edit" th:object="${portalArticle}">
            <!-- 左侧-->
            <div class="col-lg-9">
                <input name="articleId" th:field="*{articleId}" type="hidden">
                <div class="form-group">
                    <label class="col-sm-2 control-label is-required">文章标题：</label>
                    <div class="col-sm-10">
                        <input name="articleTitle" th:field="*{articleTitle}" class="form-control" type="text" placeholder="请输入标题" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">副标题：</label>
                    <div class="col-sm-10">
                        <input name="subhead" th:field="*{subhead}" class="form-control" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label is-required">栏目分类：</label>
                    <div class="col-sm-6">
                        <select class="form-control " data-placeholder="请选择导航" id="categoryId" name="categoryId">
                            <option value="">请选择分类</option>
                            <block th:each="category:${categoryList}">
                                <option
                                        th:if="${#lists.isEmpty(category.children) && category.pid ==0}"
                                        th:value="${category.id}"
                                        th:text="${category.name}"
                                        th:selected="${portalArticle?.categoryId == category.id}"
                                ></option>
                                <optgroup th:label="${category.name}" th:unless="${#lists.isEmpty(category.children)}">
                                    <option th:each="child: ${category.children}"
                                            th:value="${child.id}"
                                            th:text="${child.name}"
                                            th:selected="${portalArticle?.categoryId == child.id}"></option>
                                </optgroup>
                            </block>
                        </select>
                    </div>

                    <label class="col-sm-2 control-label">文章来源：</label>
                    <div class="col-sm-2">
                        <input name="source" th:field="*{source}" class="form-control" width="200" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">描述：</label>
                    <div class="col-sm-10">
                        <textarea name="description" class="form-control">[[*{description}]]</textarea>
                    </div>
                </div>
                <div class="form-group" id="isShow">
                    <label class="col-sm-2 control-label">内容：[[*{categoryId}]]</label>
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" th:field="*{content}">
                        <div class="summernote" id="content"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">跳转地址：</label>
                    <div class="col-sm-10">
                        <input name="artSkip" th:field="*{artSkip}" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注：</label>
                    <div class="col-sm-10">
                        <textarea name="remark" class="form-control">[[*{remark}]]</textarea>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-sm-12">
                        <h4>缩略图：</h4>
                    </label>
                    <div class="col-sm-12" style="width: 330px; text-align: center">
                        <input type="hidden" name="thumbnail" th:field="*{thumbnail}">
                        <div class="file-loading">
                            <input class="form-control file-upload" id="thumbnail" name="file" type="file" placeholder="请输入您的名字">
                        </div>
                    </div>
                </div>
                <div class="form-group" th:if="${deptID == 100 || deptID == 101 }">
                    <label class="col-sm-3 control-label">发布状态：</label>
                    <div class="col-sm-8">
                        <div class="radio-box" th:each="dict : ${@dict.getType('sys_article_show')}" th:if="${portalArticle.checkStatus == '1'}">
                            <input type="radio" th:id="${'isIssue_' + dict.dictCode}" name="isIssue" th:value="${dict.dictValue}" th:field="*{isIssue}">
                            <label th:for="${'isIssue_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                        </div>
                        <div th:if="${portalArticle.checkStatus != '1'}" style="color: #ff9900">有待审核内容，不可发布</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">是否推荐：</label>
                    <div class="col-sm-8">
                        <div class="radio-box" th:each="dict : ${@dict.getType('sys_article_yes')}">
                            <input type="radio" th:id="${'showStatus_' + dict.dictCode}" name="isPush" th:value="${dict.dictValue}" th:field="*{isPush}">
                            <label th:for="${'isPush_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">是否幻灯：</label>
                    <div class="col-sm-8">
                        <div class="radio-box" th:each="dict : ${@dict.getType('sys_article_yes')}">
                            <input type="radio" th:id="${'isGrant_' + dict.dictCode}" name="isSlide" th:value="${dict.dictValue}" th:field="*{isSlide}">
                            <label th:for="${'isSlide_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">是否置顶：</label>
                    <div class="col-sm-8">
                        <div class="radio-box" th:each="dict : ${@dict.getType('sys_article_yes')}">
                            <input type="radio" th:id="${'isTop_' + dict.dictCode}" name="isTop" th:value="${dict.dictValue}" th:field="*{isTop}">
                            <label th:for="${'isTop_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                        </div>
                    </div>
                </div>
            </div>











        </form>

        </div>

        <div class="row">
            <div class="col-sm-offset-5 col-sm-10">

                <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i
                        class="fa fa-check"></i>保 存
                </button>&nbsp;
                <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i
                        class="fa fa-reply-all"></i>关 闭
                </button>
            </div>
        </div>

        </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <th:block th:include="include :: summernote-js" />
    <script th:inline="javascript">
        var prefix = ctx + "portal/article";
        $("#form-article-edit").validate({
            focusCleanup: true
        });

        //报刊 id=25，杂志 id=26，选中编辑时候隐藏
        $(document).ready(function(){
            // 监听默认值
            $('#categoryId').each(function() {
                var sv = parseInt($(this).val());

                if(sv == 25 || sv == 26){
                    $('#isShow').hide();
                }else{
                    $('#isShow').show();
                }
            });

            //监听选中值
            $('#categoryId').change(function(){
                var ov = parseInt($(this).val());

                if(ov == 25 || ov == 26){
                    $('#isShow').hide();
                }else{
                    $('#isShow').show();
                }
            });
        });

        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#form-article-edit").serializeArray();
                // debugger;
                var tags = $.form.selectSelects("tag");
                data.push({"name": "tags", "value": tags});
                // data.push({"name": "thumbnail", "value": thumbnail});

                console.log(5556, data)
                $.operate.saveTab(prefix + "/edit", data);

                // $.operate.save(prefix + "/edit", $('#form-article-edit').serialize());
            }
        }

        $(".file-upload").each(function (i) {
            var val = $("input[name='" + this.id + "']").val()
            console.log("event===" + val)
            console.log("event2===" + ctx)
            $(this).fileinput({
                'uploadUrl': ctx + 'common/upload',
                initialPreviewAsData: true,
                initialPreview: [val],
                maxFileCount: 1,
                autoReplace: true
            }).on('fileuploaded', function (event, data, previewId, index) {
                console.log("event===" + event)
                console.log("data===" + data)
                $("input[name='" + event.currentTarget.id + "']").val(data.response.fileName)

            }).on('fileremoved', function (event, id, index) {
                console.log("event===" + event)

                $("input[name='" + event.currentTarget.id + "']").val('')
            })
            $(this).fileinput('_initFileActions');
        });

        $(function() {
            $('.summernote').each(function(i) {
                $('#' + this.id).summernote({
                    lang: 'zh-CN',
                    height: 500,
                    dialogsInBody: true,
                    callbacks: {
                        onChange: function(contents, $edittable) {
                            $("input[name='" + this.id + "']").val(contents);
                        },
                        onImageUpload: function(files) {
                            var obj = this;
                            var data = new FormData();
                            data.append("file", files[0]);
                            $.ajax({
                                type: "post",
                                url: ctx + "common/upload",
                                data: data,
                                cache: false,
                                contentType: false,
                                processData: false,
                                dataType: 'json',
                                success: function(result) {
                                    if (result.code == web_status.SUCCESS) {
                                        $('#' + obj.id).summernote('insertImage', result.url);
                                    } else {
                                        $.modal.alertError(result.msg);
                                    }
                                },
                                error: function(error) {
                                    $.modal.alertWarning("图片上传失败。");
                                }
                            });
                        }
                    }
                });
                var content = $("input[name='" + this.id + "']").val();
                $('#' + this.id).summernote('code', content);
            })
        });
    </script>
</body>
</html>